
<div class="home p-5">
<div class="container">
    <div class="img-hero text-center">
        <img src="assets/img/avataaars.svg  "  class="w-25" alt="">
    </div>
    <div class="contact-hero text-center p-2 text-white">
        <h3 class="fw-bold">START FRAMEWORK</h3>
        <div class="d-flex align-items-center justify-content-center mb-3 ">
        <div class="iconss me-3"> </div>
           <i class="fa-solid fa-star"></i>
           <div class="iconss ms-3" ></div>
        </div>
       
      
       <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
</div>
</div>



